* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background-color: #fec8d8;
}

button {
  width: 66%;
  height: 50%;
  border: none;
  border-radius: 10px;
  background: linear-gradient(145deg, #e5b4c2, #ffd6e7);
  box-shadow: 14px 14px 28px #d8aab8, -14px -14px 28px #ffe6f8;

  font-size: 24px;
  cursor: pointer;

  transition: all 0.05s ease-in;
}

button:active {
  border-radius: 10px;
  background-color: #fec8d8;
  box-shadow: inset 14px 14px 28px #d8aab8, inset -14px -14px 28px #ffe6f8;
  font-size: 20px;
}

.flex {
  display: flex;
}

#outer-container {
  height: 80vh;
  width: 90vw;
  max-width: 1024px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  background-color: #fec8d8;
  box-shadow: 20px 20px 60px #d8aab8, -20px -20px 60px #ffe6f8;
}

.outline {
  border: 1px solid red;
}

img {
  max-height: 90%;
  min-width: 90%;
  object-fit: cover;
}

#img-container {
  height: 70%;
  width: 90%;

  justify-content: center;
  align-items: center;
}

#btn-container {
  height: 30%;
  width: 90%;
  justify-content: center;
  align-items: center;
}
